.App {
  text-align: center;
  color: #63747A;
  font-family: Arial;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
}
.boolean-answer {
  font-size:144px;
  font-weigh:Bold
}
.subtext-answer {
  font-size:18px;
}